/* Artfully masterminded by Kevin Xu <kevin@imkevinxu.com> */

/* -----------------------------------------
   SHARED Styles
----------------------------------------- */

.fl { float: left; }
.fr { float: right; }
.clear { clear: both; }
.block { display: block; }
.inline_block { display: inline-block; }
.hidden { display: none; }
.error { color: red; }

/* -----------------------------------------
   LOGIN Styles
----------------------------------------- */

#login {
    margin-top: 20px;
    padding: 20px 50px;
    background-color: #E9E9E9;
    border: 1px solid #C3C3C3;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#login h2, #loginModal h2 {
    text-align: center;
    font-weight: 500;
}

#login li { list-style-type: none; }
#login ul.errorlist {
    color: red;
    font-style: bold;
}

#login input[type=submit], #loginModal input[type=submit] {
    width: 120px;
    margin-top: 10px;
    margin-left: 50%;
    left: -60px;
}

/* -----------------------------------------
   BASE Styles
----------------------------------------- */

header h1 {
    display: inline-block;
    font-weight: 500;
}

header #headerlogo img {
    width: 30px;
    position: relative;
    top: 15px;
    left: 5px;
}

header #right_nav {
    position: absolute;
    right: 15px;
    top: 25px;
}

header #logout {
    width: 38px;
    height: 32px;
    text-decoration: none;
    background-image: url(../images/power.png);
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 9px 6px;
}

header .has-tip, header .has-tip:hover {
    border-bottom: none;
    cursor: auto;
}

/* -----------------------------------------
   MAIN Styles
----------------------------------------- */

body {
    background: #F2F2F2;
    font-family: Myriad Pro, "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

@font-face {
    font-family: 'CKAlisHand';
    src: url('../fonts/ck_alis_hand.eot');
    src: url('../fonts/ck_alis_hand.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ck_alis_hand.woff') format('woff'),
         url('../fonts/ck_alis_hand.ttf') format('truetype'),
         url('../fonts/ck_alis_hand.svg#ck_alis_hand') format('svg');
    font-weight: normal;
    font-style: normal;
}

.applestory {
    font-family:'CKAlisHand';
    font-size: 42px;
}

#main {
    margin-top: -80px;
    height: 582px;
    z-index: -999;
    background-image: url(../images/stevejobswallpaper.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.element {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    border-top: 1px solid #F2F2F2;
    border-color: #E5E5E5 #DBDBDB #D2D2D2;
}

#honor {
    background: #fff;
    border: 1px solid #fff;
    top: 140px;
    right: 15px;
    padding: 10px 15px 40px;
}

#honor h3.message {
    font-weight: 400;
    font-size: 20px;
}



#honor #dearsteve {
    position: relative;
    top: -75px;
    color: #fff
}

#honor #dearsteve span {
    display: inline-block;
}

#dynamic-text-wrapper {
    display:inline-block;
    position:relative;
    height: 29px;
}

#old-text, #new-text {
    position:absolute;
    display:block;
}

#new-text { display:none; }

#dynamic-text-wrapper, #old-text, #new-text {
    width: 250px;
}​










/* END SPACING */