/* p3 styles */
body {
  margin:0;
  padding:0;
}

.story { padding: 0; margin: 0; width: 100%; position: relative; margin: 0 auto;}

article {
  text-align:center;
  height:100%;
  display:block;
}

#controls {
  position:fixed;
  top:1%;
  right:1%;
  z-index:9999;
}

#controls ul {
  margin:0;
  padding:0;
  list-style:none;
}

#controls li {
  display:inline;
  color:white;
  font-weight:bolder;
  padding:5px;
  background-color:rgba(0,0,0,0.5);
   -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#controls img {
  height:16px;
  padding-top:7px;
  padding-right:5px;
}

#cover-section {
  height:600px;
}

#cover-photo {
  text-align:center;
  margin:auto;
  border:5px solid #ccc;
  background-image:url(../images/grain.png);
  border-radius:130px;
    -webkit-border-radius: 130px;
    -moz-border-radius: 130px;
  width:260px;
  height:260px;
  box-shadow: 0 0px 8px rgba(34, 25, 25, 0.8);
    -moz-box-shadow: 0 0px 8px rgba(34, 25, 25, 0.8);
    -webkit-box-shadow: 0 0px 8px rgba(34, 25, 25, 0.8);
}

#cover-photo img {
  height:250px;
  border-radius:125px;
    -webkit-border-radius: 125px;
    -moz-border-radius: 125px;
 
}



#cover-bio {
  color:white;
  z-index:99999;
}

#cover-name {
  font-family: 'CKAlisHand', handwritten;
  font-size:60px;  
  margin-bottom:2px;
  margin-top:8px;
  text-shadow: 1px 1px 3px #525252;
  
}

#cover-time {
  font-family: "Myriad Pro", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size:16px;
  font-weight:bolder;
  color:#3B3B3B;
}

#cover-blurb-container {
  background-image:url(../images/grain.png);
  width:100%;
  text-align:center;
  padding:15px;
  border-bottom: 1px solid #C7C5C5;
  line-height:140%;
}

#cover-blurb {
  font-family: "Myriad Pro", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size:16px;
  color:#919191;
  width:70%;
  text-align:center;
  margin:auto;
}

.personal-site {
  color:#5d5d5d;
  
}

#spacer {
  height:40%;
}

#tree-section {
  background-image:url(../images/grain.png);
  min-height:1000px;
  padding-bottom:100px;
}

.tree-left {
  height:100%;
  width:50%;
  border-right: solid 8px #D4D4D4;
  float:left;
}

.tree-right {
  width:50%;
  height:100%;
  float:right;
}

.leaf {
  width:80%;
  background:white;
  -moz-box-shadow: 0px 0px 5px rgba(197,197,197,0.9);
   -webkit-box-shadow: 0px 0px 5px rgba(197,197,197,0.9);
   box-shadow: 0px 0px 5px rgba(197,197,197,0.9);
   border-radius:10px;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
  padding:25px;
  margin:50px;
  margin-top:-30px;
}

.right {
  float:none;
  margin-left:70px;
}
.left {
  float:right;
  margin-right:70px;
}

.product-branch {  
}

.circle {
  background-color:rgba(0,0,0,.7);
  border-radius:7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
  width:14px;
  height:14px;
}

.circle-right {
  float:left;
  margin-left:-11px;
  
}

.circle-left {
  float:right;
  margin-right:-11px;
}

.product-year {
  color:white;
  font-size:18px;
  font-weight:bold;
  margin:10px;
  text-shadow: 0px 0px 3px #525252; 
}

.tree-right .product-year {
  float:left;
}

.tree-left .product-year {
  float:right;
}

.product-image {
  margin-bottom:20px;
}

.product-name{
  font-size:18px;
  font-weight:bolder;
  padding-bottom:50px;
  padding-top:50px;
}

.leaf .story {
  line-height:125%;
  font-size:14px;
  margin-top:10px;
}

.steve {
  z-index:99999999999;
}

.leaf-steve {
  width:50%;
  margin:auto;
  min-height:450px;
}

.leaf-steve .story {
  font-size:18px;
  line-height:135%;
}

.steve-name{
  font-size:16px;
  font-weight:bolder;
  float:right;
  margin-top:20px;
  margin-bottom:20px;
}

/* Backgrounds for sections */

#cover-section { 
    background: url(../images/covers/Lion.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    background-size:cover;
}

#tree-section {
  -moz-box-shadow: 0px -5px 50px rgba(0,0,0,0.7);
  -webkit-box-shadow: 0px -5px 50px rgba(0,0,0,0.7);
  box-shadow: 0px -5px 50px rgba(0,0,0,0.7);
}


/* Artfully masterminded by Kevin Xu <kevin@imkevinxu.com> */

/* -----------------------------------------
   SHARED Styles
----------------------------------------- */

.fl { float: left; }
.fr { float: right; }
.clear { clear: both; }
.block { display: block; }
.inline_block { display: inline-block; }
.hidden { display: none; }
.error { color: red; }

/* -----------------------------------------
   LOGIN Styles
----------------------------------------- */

#login {
    margin-top: 20px;
    padding: 20px 50px;
    background-color: #E9E9E9;
    border: 1px solid #C3C3C3;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#login h2, #loginModal h2 {
    text-align: center;
    font-weight: 500;
}

#login li { list-style-type: none; }
#login ul.errorlist {
    color: red;
    font-style: bold;
}

#login input[type=submit], #loginModal input[type=submit] {
    width: 120px;
    margin-top: 10px;
    margin-left: 50%;
    left: -60px;
}

/* -----------------------------------------
   BASE Styles
----------------------------------------- */

header h1 {
    display: inline-block;
    font-weight: 500;
}

header #headerlogo img {
    width: 30px;
    position: relative;
    top: 15px;
    left: 5px;
}

header #right_nav {
    position: absolute;
    right: 15px;
    top: 25px;
}

header #logout {
    width: 38px;
    height: 32px;
    text-decoration: none;
    background-image: url(../images/power.png);
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 9px 6px;
}

header .has-tip, header .has-tip:hover {
    border-bottom: none;
    cursor: auto;
}

/* -----------------------------------------
   MAIN Styles
----------------------------------------- */

body {
    background: #F2F2F2;
    font-family: "Myriad Pro", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

@font-face {
    font-family: 'CKAlisHand';
    src: url('../fonts/ck_alis_hand.eot');
    src: url('../fonts/ck_alis_hand.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ck_alis_hand.woff') format('woff'),
         url('../fonts/ck_alis_hand.ttf') format('truetype'),
         url('../fonts/ck_alis_hand.svg#ck_alis_hand') format('svg');
    font-weight: normal;
    font-style: normal;
}

.applestory {
    font-family:'CKAlisHand';
    font-size: 42px;
}

#main {
    margin-top: -80px;
    height: 582px;
    z-index: -999;
    background-image: url(../images/stevejobswallpaper.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.element {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    border-top: 1px solid #F2F2F2;
    border-color: #E5E5E5 #DBDBDB #D2D2D2;
}

#honor {
    background: #fff;
    border: 1px solid #fff;
    top: 140px;
    right: 15px;
    padding: 10px 15px 40px;
}

#honor h3.message {
    font-weight: 400;
    font-size: 20px;
}



#honor #dearsteve {
    position: relative;
    top: -75px;
    color: #fff
}

#honor #dearsteve span {
    display: inline-block;
}

#dynamic-text-wrapper {
    display:inline-block;
    position:relative;
    height: 29px;
}

#old-text, #new-text {
    position:absolute;
    display:block;
}

#new-text { display:none; }

#dynamic-text-wrapper, #old-text, #new-text {
    width: 250px;
}​










/* END SPACING */