{% extends "base.html" %}
{% block title %}{{ block.super }}{% endblock %}
{% block meta_description %}{% endblock %}

{% block extra_head %}{% endblock %}

{% block content %}

<div id="main" class="row">
    <div class="six columns centered">

        <form action="{% url register %}" method="post">{% csrf_token %}

            <h3>Create your own AppleStory!</h3>
            <input type="text" name="username" placeholder="Username" />

            <div>
                <input type="email" name="email" placeholder="Email">
                <input type="password" name="password" placeholder="Password" />
                <input type="submit" value="Create" class="button">
            </div>

        </form>







    </div>
</div>

{% endblock %}

{% block javascript %}{% endblock %}
